**/.git
**/node_modules
**/.dart_tool
**/build
**/coverage
**/.idea
**/.vscode
**/*.log
**/.env
**/.env.*
!**/.env.example
!**/.env.docker.example
**/android/.gradle
frontend/android
frontend/ios
frontend/linux
frontend/macos
frontend/windows
**/ios/Pods
**/linux/flutter/ephemeral
**/macos/Flutter/ephemeral
**/windows/flutter/ephemeral
