**/node_modules
**/.dart_tool
**/build
**/.idea
**/.vscode
**/*.log
**/.env
**/.env.*
!**/.env.example
!**/.env.docker.example
**/android/.gradle
**/ios/Pods
**/linux/flutter/ephemeral
**/macos/Flutter/ephemeral
**/windows/flutter/ephemeral
