POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5433
BACKEND_PORT=3000
FRONTEND_PORT=8080
QR_DYNAMIC_SECRET=cambia-este-secreto-en-produccion
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret

# En servidor puedes poner, por ejemplo:
# BACKEND_BASE_URL=https://tu-dominio.gob.bo
# Si se deja vacio, Flutter web usara el mismo host con el puerto 3000.
BACKEND_BASE_URL=
